# eclipse
Default/*
.settings/
.cproject
.project

# keil
*.0.0.dbgconf
*.axf
*.build_log.htm
*.crf
*.d
*.dep
*.htm
*.icf
*.lnp
*.lst
*.map
*.o
*.sct
*.uvguix.*
*.scvd
*/MDK-ARM/DebugConfig/
*/MDK-ARM/RTE/

# ctags
tags

